
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1024">

  <title>Avaamo Admin</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" media="screen" href="https://c0.avaamo.com/assets/signin-a3ef8e263428c9be20b9e45637f33ea1.css" />
  <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  <script type="text/javascript">
    $config = {
      server_context: "",
      appServer: "https://c0.avaamo.com/",
      railsEnv: "dashboard",
      host_url: "https://c0.avaamo.com/",
      webChannelUrl: "https://c0.avaamo.com",
      webChannelPageUrl: "https://c0.avaamo.com/web_channel",
      emailWebhookDomain: "avaamodev.com",
      captcha: {
        public_key: "6LcSd_0SAAAAAEEXLx0ysnaSsU5e3KkIxWFnUVt0"
      }
    };
  </script>
  <script src="/signin-15e1751e898b1bf14bc4773e143a2d67.js"></script>
    <script src="/signin-15e1751e898b1bf14bc4773e143a2d67.js"></script>

  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="YXpyHHLd+NBIQR27lTV/lb2pDD7XvgfE/S36SdSiETOokbcrkvpGhCU8lVQmzfqs/tLuuST6O/3Ey0VFoUQ/qw==" />
</head>
<body ng-app="AvaamoDashboard">
  <div class="site site_index vertical-center">

    <div id="main-ng-view-div">
      <ng-view></ng-view>
    </div>
    <div id="browser-not-supported" class="hidden">
      <div class="browser-support border-bottom-orange" style="left: 458px;">
        The Volkswagen Dashboard is best experienced in the latest Google Chrome browser. Please open <a target="_blank" href="https://dashboard.avaamo.com">https://dashboard.avaamo.com</a> in your Chrome browser.
        <br><br>You can download the latest Google Chrome browser at <a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html">https://www.google.com/chrome/browser/desktop/index.html</a>
        <br><br>We are constantly adding support for other modern browsers.
      </div>
    </div>

  </div><!-- /site -->

  <!-- Templates -->
    <!-- Pin -->
    <script type="text/ng-template" id="/activation_code.html">
      <div class="site_index__content">

        <h1 class="site__logo" style=" color: white; ">
          <span > Volkswagen Admin Dashboard</span>
        </h1><!-- /site__logo -->

        <div>
          <form class="sign-in" ng-submit="sendActivationCode(email)" id="email-form">

            <div class="input-group input-group-lg">
                <span class="input-group-addon input-group-addon_mail"></span>
                <span class="input-group-err-text" id="email-error" ng-if="user.errors.email">{{user.errors.email}}</span>
                <span ng-if="user.errors.captcha_required" class="input-group-err-text" id="email-error">{{user.errors.captcha_required.join(",")}}</span>
                <span ng-if="user.errors.captcha" class="input-group-err-text" id="email-error">{{user.errors.captcha.join(",")}}</span>
                <input type="email" class="form-control required email" required placeholder="Email" ng-model="user.email" name="email">
            </div>
            <div class="input-group" ng-if="captchaRequired()">
              <div vc-recaptcha ng-model="user.captcha" tabindex="3" theme="white" lang="en" key="captchaKey" ></div>
            </div>
            <input type="submit" class="btn btn-lg" value="Sign in">
            <div class="sign-in__chk">
                <input type="checkbox" id="remember"  value="1" ng-model="user.remember_me"><label for="remember">Remember me</label>
            </div>

          </form><!-- /sign-in -->

        </div>
      </div>

      <!--<div class="site_index__lnk">
          <a href="avaamo-admin_00-03-request-admin.html">Request admin login</a>
      </div>-->

    </div>
  </script>

  <!-- Login template -->
  <script type="text/ng-template" id="/login.html">
    <div class="site_index__content">

      <h1 class="site__logo">
        <img width="234" height="141" alt="Avaamo Admin Dashboard" src="https://c0.avaamo.com/assets/site_inner-logo-008f99b59f38a633e7a64fd6f21795b5.png" />
      </h1><!-- /site__logo -->

      <div>
        <form class="sign-in" ng-submit="login()" id="sign-in-form">

          <div class="queue">
              <div class="queue__title" ng-if="!user.errors">Enter your verification PIN we’ve sent you</div>
              <servererror errors="user.errors.pin" classes="'queue__err-text'"/>
              <span ng-if="user.errors.captcha_required" class="queue__err-text">{{user.errors.captcha_required.join(",")}}</span>
              <span ng-if="user.errors.captcha" class="queue__err-text">{{user.errors.captcha.join(",")}}</span>
              <input type="text" class="form-control pin-box" maxlength="1" ng-model="pin1" ng-focus="pin1=''">
              <input type="text" class="form-control pin-box" maxlength="1" ng-model="pin2" ng-focus="pin2=''">
              <input type="text" class="form-control pin-box" maxlength="1" ng-model="pin3" ng-focus="pin3=''">
              <input type="text" class="form-control pin-box" maxlength="1" ng-model="pin4" ng-focus="pin4=''">
          </div><!-- /queue -->
          <div class="input-group" ng-if="captchaRequired()">
            <div vc-recaptcha ng-model="user.captcha" tabindex="3" theme="white" lang="en" key="captchaKey" ></div>
          </div>
          <input type="submit" class="btn btn-lg" value="Confirm">

          <a href="#/login" class="site_index__get-pin" ng-click="resendPin()">Resend PIN code to
            <div>{{email}}</div>
          </a>

        </form><!-- /sign-in -->

      </div>

    </div>

  </script>
  <!-- Templtaes end -->


</body>
</html>
